
#middle{
   margin: auto;

    
}
.buttond{
    width: 100%;
    text-align: center;
}
#button{
    margin: auto;
    /* margin-left: 580px; */
}
.card{
    margin: auto;
    margin-top: 200px;
}