#title{
    background-color: #ff4c68;
    color: white;
}
h1{
    font-family: 'Monserrat-Black';
    
    line-height: 1.5;
    font-size: 3em;


}
.container-fluid{
    padding: 3% 15%;
}
body{
    font-family:"Montserrat";
}
.navbar{
    padding-bottom: 3.5rem;
}
.navbar-brand{
    font-family: "Ubunto";
    font-size: large;
    font-weight: bold;
    padding-left: 0;
    
}
.nav-item{
    padding: 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserat-Light';
}